.GameBoard{
  width: 400px;
  height: 500px;
  border: 2px solid black;
  text-align: center;
  position: fixed;
  left: 10%;
  top: 10%;
}

.ball{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: black;
  position: relative;
  transform: translate(-50%, -50%)
  /* left: 300px;
  top: 300px; */
}

.brick{
  width: 400px;
  height:30px;
  border: 1px solid red;
  background-color: orangered;
  position: fixed;
  border: 2px solid black;
}
