.GameBoard{
  border: 2px solid black;
  position: fixed;
}

.ball{
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: black;
  position: relative;
  /* transform: translate(-50%, -50%) */
  /* left: 300px;
  top: 300px; */
}

.brick{
  border: 1px solid red;
  background-color: orangered;
  position: fixed;
  border: 2px solid black;
}
